spring:
  profiles:
    active: '@spring.profiles.active@'
swagger:
  api:
    title: "Spring Boot REST API"
    description: "Clientes REST API"
    license: "Apache 2.0"
    termsOfServiceUrl: "http://www.apache.org/licenses/LICENSE-2.0.html"
    version: 1.0.0
    controller:
      basepackage: com.besoft.panaderia.controller
    contact:
      nombres : "Nerio Baez"
      web : "http://besoft-ti.blogspot.com"
      email: "nbaez001@gmail.com"
#security:
#  oauth2:
#    resource:
#      filter-order: 3
#      jwt:
#        keyValue: -----BEGIN PUBLIC KEY-----MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA74dddBgzojGAODlMGx0mWXIpusTHcY5n3Y7xrPAVdgNsl9CTiZTpxtPHXmOtV+5Kx58q7P+2PsrFZUoGAr4aFzeGIdnE1A2ZtZTknvY4VEvFkWOQyQfm3nIPCQtv6EZv6AFinQyicr7jjapbgb4JjldN+cABbb3eh6lvJP/twwAlrCiuVKfw36Ms9SP3j6duAoI7AaDFY247UYh7ngoGJFV6xkaRzgiBW9OlUpwETCFiZwYtGvPNngHTEWjV2IL1QyZdv+aKbloi+HsvLYRNrhzRaG/3A19NXBntGtdKLqH5PClj7g1YyTaQVyujVREU8zWzXcmmnzJ29RshDRrsXQIDAQAB-----END PUBLIC KEY-----
---
server:
  port: 8081
  servlet:
    context-path: /panaderia-backend
spring:
  profiles: dev
  application:
    name: panaderia-backend
  datasource:
    driverClassName: oracle.jdbc.driver.OracleDriver
    url: "jdbc:oracle:thin:@192.168.8.115:1521:orcl"
    password: "1234"
    username: "ppos"
    testOnBorrow: true
    testWhileIdle: true
    timeBetweenEvictionRunsMillis: 60000
    minEvictableIdleTimeMillis: 30000
    validationQuery: SELECT 1 FROM DUAL
    max-active: 15
    max-idle: 10
    max-wait: 8000
    hikari:
      maximum-pool-size: 5
      connection-timeout: 60000
---
spring:
  profiles: qa
  application:
    name: panaderia-backend
  datasource:
    jndi-name: java:/PanaderiaNoXADS
    testOnBorrow: true
    testWhileIdle: true
    timeBetweenEvictionRunsMillis: 60000
    minEvictableIdleTimeMillis: 30000
    validationQuery: SELECT 1 FROM DUAL
    max-active: 15
    max-idle: 10
    max-wait: 8000
---
server:
  port: 8081
  servlet:
    context-path: /panaderia-backend
spring:
  profiles: prd
  application:
    name: panaderia-backend
  datasource:
    driverClassName: oracle.jdbc.driver.OracleDriver
    url: "jdbc:oracle:thin:@192.168.8.115:1521:orcl"
    password: "1234"
    username: "ppos"
    testOnBorrow: true
    testWhileIdle: true
    timeBetweenEvictionRunsMillis: 60000
    minEvictableIdleTimeMillis: 30000
    validationQuery: SELECT 1 FROM DUAL
    max-active: 15
    max-idle: 10
    max-wait: 8000
    hikari:
      maximum-pool-size: 5
      connection-timeout: 60000