@import "../../../../../../assets/styles/scss/views/table";

.table-container {
  max-height: auto;
}

@include mat-table-columns(
  (
    id: (
      width: 2rem,
    ),
    nombre: (
      width: 7rem,
    ),
    precio: (
      width: 7rem,
    ),
    opt: (
      width: 2.5rem,
    ),
  )
);
