<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <img class="img-responsive" src="./assets/images/icons/perficon.png">
    </mat-toolbar>
    <div class="span-usuario">
      <span>
        TECNICO INFORMATICO
        <br>
        (U.A.)
      </span>
    </div>
    <mat-nav-list>
      <ng-container *ngFor="let item of user.listaPermiso">
        <ng-container *ngIf="item.listaPermiso.length==0">
          <a mat-list-item [routerLink]="[item.ruta]" routerLinkActive="active-list-item"
            (click)="marcarSeleccionado(item)">
            <mat-icon>{{item.icono}}</mat-icon> {{item.nombre}}
          </a>
        </ng-container>

        <ng-container *ngIf="item.listaPermiso.length>0">
          <a mat-list-item (click)="marcarSeleccionado(item)">
            <mat-icon>{{item.icono}}</mat-icon> {{item.nombre}}
            <span class="spacer"></span>
            <mat-icon>expand_more</mat-icon>
          </a>
          <div *ngIf="item.selected">
            <ng-container *ngFor="let subitem of item.listaPermiso">
              <a mat-list-item [routerLink]="[subitem.ruta]" routerLinkActive="active-list-item"
                [ngStyle]="{'padding-left': '20px'}">
                <span class="child-link"></span>
                {{subitem.nombre}}
              </a>
            </ng-container>
          </div>
        </ng-container>
      </ng-container>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Gestor ventas</span>
      <span class="spacer"></span>
      <button mat-button [matMenuTriggerFor]="usuario">
        {{user.getNombre}}
        <!-- <span>(Jefe Unidad Territorial)</span> -->
        <mat-icon>expand_more</mat-icon>
      </button>
      <mat-menu #usuario="matMenu" xPosition="after" [overlapTrigger]="false">
        <button mat-menu-item (click)="salir()">Salir</button>
      </mat-menu>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>