<!-- <ng4-loading-spinner [timeout]="300000"></ng4-loading-spinner> -->
<mat-toolbar class="mat-primary mat-dialog-header">
    <span>{{data.titulo}}</span>
    <button tabindex="-1" mat-icon-button [mat-dialog-close]="">
        <mat-icon>close</mat-icon>
    </button>
</mat-toolbar>
<div mat-dialog-content>
    <form [formGroup]="formularioGrp">
        <mat-grid-list cols="12" rowHeight="50px">
            <mat-grid-tile [ResponsiveRows]="{xs: 12, sm: 6, md: 6, lg: 6, xl: 6}">
                <mat-form-field>
                    <mat-label>Unidad Medida</mat-label>
                    <mat-select formControlName="unidadMedida">
                        <mat-option *ngFor="let unidadMedida of listaUnidadMedida" [value]="unidadMedida">
                            {{unidadMedida.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [ResponsiveRows]="{xs: 12, sm: 6, md: 6, lg: 6, xl: 6}">
                <mat-form-field>
                    <input matInput formControlName="nombre" placeholder="Nombre" type="text" [Uppercased]
                        cdkFocusInitial>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [ResponsiveRows]="{xs: 12, sm: 6, md: 6, lg: 6, xl: 6}">
                <mat-form-field>
                    <input matInput formControlName="precio" placeholder="Precio" type="number">
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
    </form>
</div>
<div mat-dialog-actions align="center">
    <button mat-raised-button color="primary" [class.spinner]="modif" [disabled]="modif" type="button"
        (click)="modificar()" *ngIf="data.objeto">Modificar</button>
    <button mat-raised-button color="primary" [class.spinner]="guardar" [disabled]="guardar" type="button"
        (click)="registrar()" *ngIf="!data.objeto">Guardar</button>
    <button mat-button [mat-dialog-close]="">Salir</button>
</div>