@import "../../../../../../../assets/styles/scss/views/table";

.table-container {
    max-height: 400px;
    mat-form-field {
        width: 95%;
        ::ng-deep .mat-form-field-wrapper {
            padding-bottom: 0px !important;
        }
    }
}

@include mat-table-columns(
    (
        id: (
            width: 2rem,
        ),
        tipoInsumo: (
            width: 6rem,
        ),
        unidadMedida: (
            width: 5rem,
        ),
        cantidad: (
            width: 5rem,
        ),
        tarifa: (
            width: 6rem,
        ),
        subtotal: (
            width: 5rem,
        ),
    )
);
