form {
    mat-grid-list {
        mat-grid-tile {
            mat-form-field {
                width: 100%;
                margin: auto 10px;
                textarea {
                    height: 100%;
                }
                mat-error {
                    margin-top: -2px;
                    font-size: 9px;
                    font-style: italic;
                }
                .mat-form-field-subscript-wrapper {
                    overflow: unset !important; //EVITA QUE LA LINEA ROJA INFERIOR TAPE EL MENSAJE
                }
                //ESTILOS BOTONES ACCION DIALOG
                .btn-icon-input {
                    background-color: #ffffff;
                    position: absolute;
                    top: 3px;
                    right: -10px;
                    margin: -11px 0;
                    padding: 0;
                    min-width: 25px;
                }
            }
            mat-radio-group {
                margin-right: 10px;
                margin-left: 10px;
                width: 100%;
                mat-radio-button {
                    width: 50%;
                }
            }
            //FOR SPINNER ON FORM
            div {
                mat-progress-spinner {
                    margin-left: 10px;
                }
            }
        }
    }
}

.none {
    display: none !important;
}
